services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - MONGODB_URI=mongodb://mongo:27017/your_db_name
    depends_on:
      - mongo

  frontend:
    build:
      context: ./learnato-forum-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
